@model Trempoline.Models.Beneficiaire


@{
    ViewBag.Title = "Détails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    <h3>@String.Format("{0} {1} {2}", @Model.Prenom, @Model.Nom, @Model.DateNaissance.ToString("dd-MM-yyyy"))</h3>
}

<div class="tabbable">
    <ul class="nav nav-tabs tab-padding tab-space-3 tab-blue" id="myTab4">
        <li class="active">
            <a data-toggle="tab" data-menu="Contact" href="#tab">
                Contact
            </a>
        </li>
        @if (Model != null)
        {
            <li>
                <a data-toggle="tab" data-menu="Program" href="#tab">
                    Programme
                </a>
            </li>
            <li>
                <a data-toggle="tab" data-menu="Attachement" href="#tab">
                    Pièces jointes
                </a>
            </li>
            <li>
                <a data-toggle="tab" data-menu="Earning" href="#tab">
                    Revenus
                </a>
            </li>
            <li>
                <a data-toggle="tab" data-menu="Finance" href="#tab">
                    Finances
                </a>
            </li>
            <li>
                <a data-toggle="tab" data-menu="Debt" href="#tab">
                    Dettes
                </a>
            </li>
            <li>
                <a data-toggle="tab" data-menu="Justice" href="#tab">
                    Justice
                </a>
            </li>
            <li>
                <a data-toggle="tab" data-menu="Work" href="#tab">
                    Emploi
                </a>
            </li>
        }
    </ul>

    <div class="tab-content">
        <div id="tab" class="tab-pane">

        </div>
    </div>
</div>
