@model System.String
@{
    Layout = null;
}


<hgroup>
    <h1>Erreur.</h1>
    <h2>Une erreur s’est produite lors du traitement de la requête.</h2>
    <h2>Vueillez contacter l'administrator</h2>
    <h2 style="color:red;">
        @Model
    </h2>
</hgroup>
